.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.close {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1300;
}
.modal {
  background-color: transparent;
  padding: 15px;
  border-radius: 4px;
  max-width: calc(90vw - 30px);
  max-height: calc(90vh - 30px);
  /* position: relative; */
  overflow: hidden;
  transform: scale(2);
  transition: transform 0.3s ease;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transform: scale(1);
  transition: transform 0.3s ease;
}
